<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Project.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Project.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Project.Properties.Settings>
            <setting name="login" serializeAs="String">
                <value />
            </setting>
            <setting name="remeberMe" serializeAs="String">
                <value>False</value>
            </setting>
        </Project.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Project.Properties.Settings>
            <setting name="backColor" serializeAs="String">
                <value>245, 235, 220</value>
            </setting>
            <setting name="foreColor" serializeAs="String">
                <value>51, 50, 48</value>
            </setting>
        </Project.Properties.Settings>
    </applicationSettings>
</configuration>